/*

das ist nur ein kleiner Ausschnitt (10-2006) siehe Datei nebenan,
hier sind nur die Teile ab 10-2008 wegen eines Fehlers und da
das bisherige unver(c)ndert arbeiten sollte.

*/

/* basic styles for the elements*/

dataset {
    /*line and symbol */

    /* new 10-2008; errorbars with caps */
    error-stroke: black;
    error-stroke-opacity: 1;

    error-stroke-width: 0.5;
    error-stroke-linecap: butt;
    error-stroke-linejoin: miter;
    error-stroke-miterlimit: 4;
    error-stroke-dasharray: none;
    error-stroke-dashoffset: 0;

    error-cap-size: 5;

    error-cap-stroke: black;
    error-cap-stroke-opacity: 1;

    error-cap-stroke-width: 1;
    error-cap-stroke-linecap: butt;
    error-cap-stroke-linejoin: miter;
    error-cap-stroke-miterlimit: 4;
    error-cap-stroke-dasharray: none;
    error-cap-stroke-dashoffset: 0;
}
