<p>
    Some hints on the hierarchie:
<table>
    <tr>
        <td>Class</td>
        <td>Changes</td>
    </tr>

    <tr>
        <td>BaseTable</td>
        <td>tweaked but behaves like a table</td>
    </tr>

    <tr>
        <td>ListViewSizedTable</td>
        <td>cell borders, some sizes, margins</td>
    </tr>
    <tr>
        <td>ListViewTable</td>
        <td>behaves like a list, so some keybindings are changed,
            TraversalKeys removed, may eat Ctrl-A
        </td>
    </tr>

</table>

</p>